# PyCharm
.idea/
.venv/
.vscode/
.vs/
src/__pycache__
images/
main_masterclass.py
main2.py
main3.py


# MacOS
.DS_Store

# Windows
desktop.ini

# environment
.env

# Jupyter
notebooks/.ipynb_checkpoints

